#container table {
    width: 100%;
    table-layout: fixed;
}

#container td, #container th, #container table {
    border: 1px solid black;
}

.skipped-place {
    background: red;
}

.tie {
    background: yellow;
}