/* CSS file for the challenge.xml file.
   
   Just playing around with CSS files as applied directly to XML
   for formatting in a browser.   

   NOTE: at this time, only Mozilla 1.0 and perhaps Opera support all
         the CSS extensions (mostly CSS2 stuff) that is needed in here;
         MS InternetExplorer 6.0 does not.

   Eric Engstrom (engstrom@mtu.net)
 */

* { 
  display:      block;
  margin: 	10pt;
  font-family:  Comic SANS MS,fantasy,times,serif;
  text-aligh:	left;
}

fll:before { 
  margin-bottom: 200%;
  font-size:	200%;
  text-align: 	center;
  content: 	attr(title)
}

goal:before { 
  content: "Goal: '" attr(title) "' [" attr(name) "]";
}

restriction>* { 
  display: inline;
  margin-right: 0pt;
  margin-left: 0pt;
}
restriction:before {
  content: "Restriction: " attr(lowerBound) " <= ";
}
restriction:after {
  content: " <= " attr(upperBound);
}

term:not(:last-child):after {
  content: " + ";
}
term[coefficient]:before{ 
  content: attr(coefficient) "x " attr(goal);
}
term:before {
  content: attr(goal);
}

