table .score-entry {
    width: 100%;
}

.score-entry th, .score-entry td {
    border: 1px solid #808080;
    font-size: large;
}

.score-entry label {
    display: block;
    border: 1px solid #ccc;
}

.score-entry label input {
    display: none;
}

.score-entry input+span {
    width: 100%;
    display: inline-block;
    background: #ddd;
    text-align: center;
}

.score-entry input:checked+span {
    background: #ccc;
}

#floating-messages {
    position: fixed;
    top: 0px;
    left: 0%;
    z-index: 99;
}

#score-errors {
    font-size: 200%;
    border: 1px solid black;
    padding: 5px;
    background-color: red;
}

#verification-warning {
    font-size: 200%;
    border: 1px solid black;
    padding: 5px;
    background-color: yellow;
}

td .goal-title {
    font-weight: bold;
    text-align: right;
}

.goal-group-spacer {
    background-color: black;
    line-height: 2px;
}