[submodule "src/main/web/extlib/jquery.scrollTo"]
	path = src/main/web/extlib/jquery.scrollTo
	url = https://github.com/flesler/jquery.scrollTo.git
[submodule "src/main/web/extlib/js-joda"]
	path = src/main/web/extlib/js-joda
	url = https://github.com/js-joda/js-joda.git
