[submodule "src/main/web/extlib/timepicker"]
	path = src/main/web/extlib/timepicker
	url = https://github.com/jonthornton/jquery-timepicker.git
[submodule "src/main/web/extlib/jquery-validation"]
	path = src/main/web/extlib/jquery-validation
	url = https://github.com/jquery-validation/jquery-validation.git
[submodule "src/main/web/extlib/jquery-json"]
	path = src/main/web/extlib/jquery-json
	url = https://github.com/Krinkle/jquery-json.git
[submodule "src/main/web/extlib/jStorage"]
	path = src/main/web/extlib/jStorage
	url = https://github.com/andris9/jStorage.git
[submodule "src/main/web/extlib/jquery.scrollTo"]
	path = src/main/web/extlib/jquery.scrollTo
	url = https://github.com/flesler/jquery.scrollTo.git
[submodule "src/main/web/extlib/js-joda"]
	path = src/main/web/extlib/js-joda
	url = https://github.com/js-joda/js-joda.git
