scheduling/blank-schedules/*.pdf
fll.log*
*.log*
cobertura.ser
.DS_Store
*~
.*.html
.ant-targets-build.xml
ant
sloccount.sc
build
build.ant
tmp
fll.log
web/wiki/*
override.properties
web/sponsor_logos/*.jpg
cloc.xml
bin/
import_*
tmp-web
.gradle
.classpath
logs/
checker
screenshots
FullTournamentTestOutputs
