/* Prevent the text contents of draggable elements from being selectable 
and mark draggable things as movable. */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
}

.dragging {
    opacity: 0.4;
}

#deliberation_header .performance {
    background-color: #00ff00;
    color: black;
}

#deliberation_header .scheduled {
    background-color: #0070c0;
    color: white;
}

#deliberation_header .non-scheduled {
    background-color: #00b0f0;
    color: white;
}

.rTableCell.separator {
    background-color: black;
}

.rTableCell.unavailable {
    background-color: #bfbfbf;
}

.rTableCell.dropzone {
    background-color: #00ff00;
}

.potential_winner_row .winner {
    background-image: linear-gradient( to top left, transparent 0 45%,
        rgba(255, 255, 255, 1) 45% 50%, rgba(0, 0, 0, 1) 50% 55%,
        transparent 55% 100%);
}

.nominee_row .potential_winner {
    background-image: linear-gradient( to top left, transparent 0 45%,
        rgba(255, 255, 255, 1) 45% 50%, rgba(0, 0, 0, 1) 50% 55%,
        transparent 55% 100%);
}

#add-team-dialog_container {
    width: fit-content;
}

#header_row .rTableHead {
    z-index: 10;
}

#header_row .rTableHead, .rTableRow .rTableCell:first-child {
    position: sticky;
    background-color: #ddd;
    top: 0px;
    left: 0px;
}