/* Prevent the text contents of draggable elements from being selectable 
and mark draggable things as movable. */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
}

#deliberation_header .performance.numeric {
    background: #00ff00;
    color: black;
}

#deliberation_header .numeric {
    background: #0070c0;
    color: white;
}

#deliberation_header .non-numeric {
    background: #00b0f0;
    color: white;
}