body {
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    /*font-size: 1.5625vw;*/
    /*transform: scale()*/
    font-weight: bold;
}

body.scoreboard {
    background: #000080;
    color: #ffffff;
}

table.scoreboard {
    table-layout: fixed;
}

th.scoreboard {
    border: none;
    font-weight: bold;
}

td.scoreboard {
    padding: 4;
}

table {
    border-collapse: collapse;
    border: 1;
    padding: 2px;
    border-spacing: 0px;
    border: 1px solid white;
}

td {
    border: 1px solid white;
}

#most_recent_table {
    width: 98%;
}