body {
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    /*font-size: 1.5625vw;*/
    /*transform: scale()*/
    font-weight: bold;
}

body.scoreboard {
    background: #000080;
    color: #ffffff;
}

table.scoreboard {
    table-layout: fixed;
}

th.scoreboard {
    border: none;
    font-weight: bold;
}

td.scoreboard {
    padding: 4;
}

#most_recent table {
    border-collapse: collapse;
    border: 1;
    padding: 2px;
    border-spacing: 0px;
    border: 1px solid white;
}

#most_recent td {
    border: 1px solid white;
}

#left,
#right {
    position: fixed;
    height: 100%;
    top: 0;
}

#left {
    left: 0;
    width: 40%;
}

#right {
    right: 0;
    width: 60%;
}

#title {
    top: 0;
    height: 40px;
    width: 100%;
    background-color: #008000;
    color: white;
    font-family: arial;
    font-size: medium;
}

#all_teams {
    height: 100%;
    overflow-y: hidden;
}

#all_teams table.team {
    width: 99%;
    border: 0px;
    padding: 0px;
    border-spacing: 0px;
}

#all_teams table.team table.runs {
    border: 0px;
    padding: 1px;
    border-spacing: 0px;
}

#all_teams img.run_spacer {
    width: 60px;
    height: 1px;
}

#all_teams img.score_spacer {
    width: 20px;
    height: 1px;
}

#all_teams img.all_teams_blank {
    width: 1px;
    height: 15px;
}

#all_teams tr.sponsor {
    background-color: white;
}

#all_teams tr.sponsor td.sponsor_title {
    width: 50%;
    vertical-align: middle;
    color: black;
}

#all_teams tr.sponsor td.sponsor_logo {
    width: 50%;
    vertical-align: middle;
    padding: 3px;
}

table.spacer {
    width: 99%;
    border: 0px;
    padding: 0px;
    border-spacing: 0px;
}

table.spacer img {
    width: 1px;
    height: 15px;
}

#top_scores {
    top: 0;
    height: 50%;
}

#most_recent_table {
    width: 98%;
}