body {
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
    background-color: #f9f9f9;
}

.tie, .score.tie {
    background-color: orange;
}

.text-left {
    text-align: left
}

.no-show, .score.no-show {
    background-color: yellow;
}

.score {
    background-color: LawnGreen;
}

td.border-right {
    border-right: 2px solid black;
}

table.score-entry {
    table-layout: fixed;
    /* 100% causes a horizontal scroll bar */
    width: 99%;
    border-collapse: collapse;
}

.score-slider-cell {
    position: relative;
    padding: 15px;
}

.score-slider-cell input, .score-slider-cell div {
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
}

table.score-entry .selected-range {
    background-color: LawnGreen;
}

.comment-entered {
    background-color: LawnGreen;
}

.comment-text {
    width: 100%;
    height: 85%;
    margin-bottom: 10px;
}

.dialog>div.comment-dialog {
    width: 50%;
}

.hidden {
    display: none;
}

.no-scroll {
    overflow: hidden !important; /* Prevent body/container scrollbars */
}

span.sliderTickMark {
    position: absolute;
    display: inline-block;
    top: 0%;
    margin-left: -7.5px;
    margin-top: 3px;
    font-size: 12px;
    font-weight: normal;
    /* draw a hollow circle */
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border: solid 2px black;
}

#side-panel_bottom {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

#side-panel_server-status.online {
    background-color: lightgreen;
}

#side-panel_open {
    background-repeat: no-repeat;
    background-position: center center;
}

button, input {
    font-weight: inherit;
}

input[type=range] {
    cursor: pointer;
}

.score-summary-right-elements {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    margin-right: 1em;
    margin-left: 1em;
}

#score-summary_legend .no-show, #score-summary_legend .tie {
    padding: 0.5em;
}

#score-summary_content hr {
    width: 99%;
    margin-top: 30px;
}

.nominate-label {
    font-weight: bold;
    display: inline-block;
    width: 30%;
    padding-left: 0.5em;
    padding-bottom: 1em;
    padding-top: 1em;
    vertical-align: middle;
    background-color: #ededed;
    cursor: pointer;
}

.nominate-description {
    display: inline-block;
    width: 65%;
}

header {
    font-weight: bold;
}

.goal-group-title {
    font-weight: bold;
    background-color: #e9e9e9;
}

.goal-title {
    font-weight: bold;
}

footer button {
    margin: 10px;
}

#enter-score_container {
    display: flex;
    height: 100vh;
}

#enter-score_main {
    flex: 1; /* Takes up remaining space */
    overflow-y: scroll;
}

#enter-score-note {
    min-width: 150px;
    width: 30%; /* Initial width */
}

#enter-score-note-text {
    height: 90%;
}

#enter-score_resizer {
    width: 8px;
    cursor: col-resize;
    background-color: #ccc;
    transition: background-color 0.2s;
}

#enter-score_resizer:hover {
    background-color: #888;
}

#enter-score-comment-great-job-button {
    margin-right: 20px;
}

#enter-score-comment-think-about-button {
    margin-left: 20px;
}

#enter-score_score-table .odd {
    background-color: lightgrey;
}

/*
#enter-score-note-button {
text-align: right;
    background-color: purple;
    color: white;
}
*/
#enter-score-note-button {
    padding-left: 20px;
    padding-right: 20px;
}

.buttonbox-fill .fll-sw-button, #header-enter-score .fll-sw-button,
    #enter-score_main .fll-sw-button {
    border: 1px solid;
    border-radius: 12px;
}

/* make sure the other judge columns line up */
.other-judge {
    font-family: monospace;
    font-size: larger;
}

.virtual-category-gear {
    height: 20px;
}