.ui-grid-b>.ui-block-a.team-info {
    width: 70%;
}

.ui-grid-b>.ui-block-b.score {
    width: 10%;
    text-align: center;
}

.ui-grid-b>.ui-block-c.edit {
    width: 20%;
}

.tie {
    background-color: red;
    color: white;
}

.text-left {
    text-align: left
}

.no-show {
    background-color: yellow;
}

.score {
    background-color: LawnGreen;
}

td.border-right {
    border-right: 2px solid black;
}

table.score-entry {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.center {
    text-align: center;
}

.score-slider-cell input {
    display: none;
}

.score-slider-cell .ui-slider-track {
    margin-left: 0px;
    margin-right: 0px;
}

.score-slider-cell .ui-slider-handle {
    background-color: black;
}

.score-slider-cell .ui-slider-handle:hover {
    background-color: black;
}

table.score-entry .selected-range {
    background-color: LawnGreen;
}

#enter-score-page .comment-entered {
    background-color: LawnGreen;
}

.hidden {
    display: none;
}

span.sliderTickMark {
    position: absolute;
    left: 100%;
    top: 0%;
    margin-left: -10px;
    margin-top: -2.5px;
    font-size: 12px;
    font-weight: normal;
    /* draw a hollow circle */
    border-radius: 50%;
    width: 15px;
    border: solid 2px black;
}

.split_30_70 .ui-block-a {
    width: 30%;
}

.split_30_70 .ui-block-b {
    width: 70%;
}