.ui-grid-b>.ui-block-a.team-info {
	width: 70%;
}

.ui-grid-b>.ui-block-b.score {
	width: 10%;
	text-align: center;
}

.ui-grid-b>.ui-block-c.edit {
	width: 20%;
}

.tie {
	background-color: red;
	color: white;
}

.text-left {
	text-align: left
}

.no-show {
	background-color: yellow;
}

.score {
	background-color: LawnGreen;
}

td.border-right {
	border-right: 2px solid black;
}

table.score-entry {
	width: 100%;
	border-collapse: collapse;
}

td.center {
	text-align: center;
}

button.ui-btn.selected-score {
	border-style: inset;
	border-width: 2px;
	background-color: LawnGreen;
}