.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.help {
    background-color: #fafafa;
    border: 1px solid black;
    width: 80%;
    padding: 3px;
    font-size: 10pt;
}

.error {
    color: red;
    font-weight: bold;
    background-color: black;
}

.warning {
    color: yellow;
    font-weight: bold;
    background-color: black;
}

.success, #success {
    background-color: #00FF00;
}

.status-message {
    font-size: 120%;
    background-color: #ADD8E6;
}

.hard-violation {
    background-color: red;
}

.soft-violation {
    background-color: yellow;
}

.bold {
    font-weight: bold;
}

.truncate {
    max-width: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* use div tags for tables */
.rTable {
    display: table;
    width: 100%;
}

.rTableRow {
    display: table-row;
}

.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
}

.rTableCell, .rTableHead {
    display: table-cell;
    padding: 3px 10px;
    border: 1px solid #999999;
}

.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
    font-weight: bold;
}

.rTableFoot {
    display: table-footer-group;
    font-weight: bold;
    background-color: #ddd;
}

.rTableBody {
    display: table-row-group;
}
/* end table tags */
.no-close .ui-dialog-titlebar-close {
    display: none;
}
