@import url("base.css");

@import url("navbar.css");

@import url("ui.css");

body {
    background-color: #FFFCFF;
    font-family: sans-serif;
}

input, textarea, button {
    font-family: inherit;
    font-size: inherit;
}