
/* Used https://mokole.com/palette.html to generate colors */
.team-1 {
    background-color: #ee82ee;
    color: #000;
}

.team-2 {
    background-color: #ffa07a;
    color: #000;
}

.team-3 {
    background-color: #ff1493;
    color: #fff;
}

.team-4 {
    background-color: #eee8aa;
    color: #000;
}

.team-5 {
    background-color: #db7093;
    color: #000;
}

.team-6 {
    background-color: #1e90ff;
    color: #fff;
}

.team-7 {
    background-color: #ff00ff;
    color: #fff;
}

.team-8 {
    background-color: #0000ff;
    color: #fff;
}

.team-9 {
    background-color: #00bfff;
    color: #000;
}

.team-10 {
    background-color: #00ffff;
    color: #000;
}

.team-11 {
    background-color: #00ff7f;
    color: #000;
}

.team-12 {
    background-color: #8a2be2;
    color: #fff;
}

.team-13 {
    background-color: #7cfc00;
    color: #000;
}

.team-14 {
    background-color: #ffd700;
    color: #000;
}

.team-15 {
    background-color: #ff4500;
    color: #fff;
}

.team-16 {
    background-color: #8b008b;
    color: #fff;
}

.team-17 {
    background-color: #9acd32;
    color: #000;
}

.team-18 {
    background-color: #000080;
    color: #fff;
}

.team-19 {
    background-color: #b8860b;
    color: #fff;

}

.team-20 {
    background-color: #008000;
    color: #fff;
}

.team-21 {
    background-color: #483d8b;
    color: #fff;
}

.team-22 {
    background-color: #8b0000;
    color: #fff;
}

.team-23 {
    background-color: #556b2f;
    color: #fff;
}

.team-24 {
    background-color: #2f4f4f;
    color: #fff;
}

.team-25 {
    background-color: #a9a9a9;
    color: #0000;
}