TD {
	font-family: arial
}

table .score-entry {
	width: 100%;
}

#floating-messages {
	position: fixed;
	top: 0px;
	left: 0%;
	z-index: 99;
}

#score-errors {
	font-size: 200%;
	border: 1px solid black;
	padding: 5px;
	background-color: red;
}

#verification-warning {
	font-size: 200%;
	border: 1px solid black;
	padding: 5px;
	background-color: yellow;
}

td .goal-title {
	font-size: medium;
	font-weight: bold;
	text-align: right;
}