textarea, .macro-buttons {
    display: inline-block;
    vertical-align: top;
}

textarea:disabled, input:disabled {
    background-color: lightgrey;
}

.macro-button {
    width: 100%;
}

.macros-container {
    display: grid;
    grid-template-columns: 50% 50%;
}