html {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

body {
    margin-top: 4;
}

.title {
    font-weight: bold;
    font-size: 200%;
    padding: 20px;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

table.partner_logo {
    width: 60%;
}

.partner_logo img {
    width: 100%;
}

table.first_logo {
    width: 50%;
}

.first_logo img {
    width: 60%;
}