th {
	border: none;
	font-weight: bold;
}

td {
	padding: 4;
}

td.center {
	text-align: center;
}

td.left {
	text-align: left;
}

td.right {
	text-align: right;
}

body {
	background: #000080;
	color: #ffffff;
	font-family: 'Arial', 'Helvetica', 'sans-serif';
	font-size: medium;
	font-weight: bold;
}

table {
	table-layout: fixed;
}