body {
	font-family: 'Arial', 'Helvetica', 'sans-serif';
	font-size: medium;
	font-weight: bold;
}

body.scoreboard {
    background: #000080;
    color: #ffffff;
}

table.scoreboard {
	table-layout: fixed;
}

th.scoreboard {
    border: none;
    font-weight: bold;
}

td.scoreboard {
    padding: 4;
}
