* {
	display: block;
	margin: 10pt;
	font-family: Comic SANS MS, fantasy, times, serif;
	text-align: left;
}

fll:before {
	margin-bottom: 200%;
	font-size: 200%;
	text-align: center;
	content: attr(title)
}

goal:before {	
	content: "Goal: '" attr(title) "' [" attr(name) "] min: " attr(min) " max: " attr(max) " multiplier: " attr(multiplier);
}

value:before {
	content: "    Enum Value: '" attr(title) "' [" attr(value) "] score: " attr(score);
}
	
stringConstant:before {
	content: "'" attr(value) "'";
}

goalRef:before {
	content: attr(goal);
}

computedGoal:before {
	content: "Computed Goal: '" attr(title) "' [" attr(name) "]";
}

default:before {
	content: "} else {";
}
default:after {
	content: "}";
}

enumCondition * {
	display: inline;
	margin-right: 0pt;
	margin-left: 0pt;
}
enumCondition:after {
	content: ") {";
}

case>* {
	display: inline;
	margin-right: 0pt;
	margin-left: 0pt;
}
		
condition * {
	display: inline;
	margin-right: 0pt;
	margin-left: 0pt;
}

case:first-child:before {
	content: "if (";
}

case:before {
	content: "} else if (";
}
condition:after {
	content: ") {";
}
equal-to:before {
	content: " == ";
}
not-equal-to:before {
	content: " != ";
}
less-than:before {
	content: " < ";
}
less-than-or-equal:before {
	content: " <= ";
}
greater-than:before {
	content: " > ";
}
greater-than-or-equal:before {
	content: " >= ";
}

restriction * {
	display: inline;
	margin-right: 0pt;
	margin-left: 0pt;
}

restriction:before {
	content: "Restriction: " attr(lowerBound) " <= ";
}

restriction:after {
	content: " <= " attr(upperBound);
}

tiebreaker:before {
	content: "Tiebreaker";
	counter-reset: tiebreaker;
}

test:before {
	content: counter(tiebreaker) ". Team with the " attr(winner) " score wins";
	counter-increment: tiebreaker;
}

Performance:before {
	content: "Performance weight: " attr(weight);
}

subjectiveCategory:before {
	content: attr(title) " weight: " attr(weight);
}

term[coefficient]:before {
	content:  attr(coefficient) " x " attr(scoreType) "(" attr(goal);
}

term:before {
	content: attr(scoreType) "(" attr(goal);
}


term:after {
	content: ")";
}


term:not(:last-child):after {
  content: ") + ";
}

result {
	display: block;
}

result * {
	display: inline;
}

constant:before {
	content: attr(value);
}
constant:not(:last-child):before {
	content: attr(value) " + ";
}

variableRef:before {
	content: attr(coefficient) " x " attr(variable);
}
variableRef:not(:last-child):before {
	content: attr(coefficient) " x " attr(variable) " + ";
}

variable:before {
	content: attr(name) " = ";
}
  