<web-app id="fll-sw" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
  <display-name>FLL</display-name>

  <description>
    This is the web application for First Lego League
  </description>

  <session-config>
    <session-timeout>30</session-timeout> <!-- 30 minutes -->
  </session-config>

  <welcome-file-list>
    <welcome-file>
            index.jsp
    </welcome-file>
  </welcome-file-list>

  <!-- at some point we may want to specialize this by exception -->
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/errorHandler.jsp</location>
  </error-page>

  <!-- servlets -->
  <servlet>
    <servlet-name>log4j-init</servlet-name>
    <servlet-class>fll.web.Log4jInit</servlet-class>

    <init-param>
      <param-name>log4j-init-file</param-name>
      <param-value>WEB-INF/classes/log4j.xml</param-value>
    </init-param>

    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>GetFile</servlet-name>
    <servlet-class>fll.web.GetFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFile</servlet-name>
    <url-pattern>/GetFile</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CreateDB</servlet-name>
    <servlet-class>fll.web.setup.CreateDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateDB</servlet-name>
    <url-pattern>/setup/CreateDB</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ImportDBDump</servlet-name>
    <servlet-class>fll.web.developer.importdb.ImportDBDump</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportDBDump</servlet-name>
    <url-pattern>/developer/importdb/ImportDBDump</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CheckTournamentExists</servlet-name>
    <servlet-class>fll.web.developer.importdb.CheckTournamentExists</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckTournamentExists</servlet-name>
    <url-pattern>/developer/importdb/CheckTournamentExists</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CategoryScoresByScoreGroup</servlet-name>
    <servlet-class>fll.web.report.CategoryScoresByScoreGroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryScoresByScoreGroup</servlet-name>
    <url-pattern>/report/CategoryScoresByScoreGroup</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FinalistSchedulerUI</servlet-name>
    <servlet-class>fll.web.report.FinalistSchedulerUI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalistSchedulerUI</servlet-name>
    <url-pattern>/report/FinalistSchedulerUI</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RankingReport</servlet-name>
    <servlet-class>fll.web.report.RankingReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RankingReport</servlet-name>
    <url-pattern>/report/RankingReport</url-pattern>
  </servlet-mapping>

  
  <servlet>
    <servlet-name>CommitTeam</servlet-name>
    <servlet-class>fll.web.admin.CommitTeam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommitTeam</servlet-name>
    <url-pattern>/admin/CommitTeam</url-pattern>
  </servlet-mapping>
  
  
</web-app>
